<br>
<h1>404</h1>
<br>
<h2>К сожалению запрашиваемая вами страница не найдена!</h2>
<br>
<% if notice %>
  <h4>Описание ошибки:</h4>
  <h4 id="notice"><%= notice %></h4>
  <br>
<% end %>
<%= link_to 'Перейти к списку всех пользователй', "/" %>
